<!-- media_app/templates/media_app/upload_media.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Media Upload Page</title>
</head>
<body>
    <button id="upload_widget" class="cloudinary-button">Upload files</button>

    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

    <script type="text/javascript">  
        var myWidget = cloudinary.createUploadWidget({
            cloudName: 'dhb8qlske', 
            uploadPreset: 'ml_defaultt'
        }, (error, result) => { 
            if (!error && result && result.event === "success") { 
                	   // Access the delivery URL of the uploaded image 
   var imageUrl = result.info.secure_url; 
   // Save imageUrl to your database 
   // You can use an AJAX request to send this data to your server
   console.log('Done! Here is the image info: ', result.info); 
            }
        })

        document.getElementById("upload_widget").addEventListener("click", function(){
            myWidget.open();
        }, false);
    </script>
</body>
</html>

<!-- templates/myapp/upload_file.html
{% extends "base_generic.html" %}

{% block content %}
  <h2>Upload File</h2>
  <button id="upload_widget" class="cloudinary-button">Upload files</button>
  <form id="file_form" method="post" action="{% url 'save_file' %}">
    {% csrf_token %}
    <input type="hidden" id="public_id" name="public_id">
    <input type="hidden" id="url" name="url">
  </form>

  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
      cloudName: '{{ cloud_name }}',
      uploadPreset: '{{ upload_preset }}'
    }, (error, result) => {
      if (!error && result && result.event === "success") {
        document.getElementById('public_id').value = result.info.public_id;
        document.getElementById('url').value = result.info.secure_url;
        document.getElementById('file_form').submit();
      }
    });

    document.getElementById("upload_widget").addEventListener("click", function() {
      myWidget.open();
    }, false);
  </script>
{% endblock %} -->